.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050404;
    color: #fff;
    padding: 10px 30px;
    size: 150px;
  }
  

  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-right: 40px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #f0f0f0;
  }
  