.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20%;
  }
  
  .box {
    width: calc(50% - 10px);
    height: 200px;
    margin-bottom: 20px;
    border: 3px solid blue;
  }
  
  @media only screen and (max-width: 768px) {
    .box {
      width: 100%;
    }
  }
  